<div class="flex justify-between items-center py-10 px-10">
  <h1 class="text-3xl text-display-hero uppercase tracking-tight font-black text-primary">
    MEJORES CORREDORES <span class="text-secondary">// RED GLOBAL</span>
  </h1>

  <button
    class="bg-primary/10 flex items-center"
    onclick="
      document
        .getElementById('user-rank-row')
        .scrollIntoView({ behavior: 'smooth', block: 'center' })
    "
  >
    <span class="material-symbols-outlined text-sm">my_location</span>
    IR A MI POSICIÓN [#88]
  </button>
</div>
<div class="space-y-4">
  @if (rankingPlayers.isLoading()) {
    <h1>Cargando</h1>
  } @else {
    <div class="flex justify-center gap-4 items-center px-10">
      @for (player of podiumOrder(); track player.position) {
        <card-bo3-players [playerInfo]="player.player" [index]="player.position" />
      }
    </div>
    <div class="flex flex-col px-10">
      @for (player of rankingPlayers.data()?.slice(3, 10); track player.id) {
        <item-list-best-players [playerInfo]="player" [index]="$index + 4" />
      }
    </div>
  }
</div>
