<div
  class="min-h-96 py-10 text-xl md:text-3xl font-medium w-full bg-background-dark border-2 border-primary/40 rounded-xl"
>
  <p class="flex flex-wrap font-space p-10">
    @for (word of words(); track $index) {
      <span class="inline-block">
        @for (item of word.chars; track item.index) {
          <span
            class="text-gray-500 relative inline-block"
            [class.cursor-bar]="item.index === currentCharacter()"
            [class.text-secondary]="item.index < currentCharacter()"
            [class.error-animation]="item.index === errors()"
            style="white-space: pre; letter-spacing: -4px; font-size: 22px"
          >
            {{ item.char }}
          </span>
        }
      </span>
    }
    <span class="w-full bg-primary/80 h-px shadow-primary shadow-2xl mt-10"></span>
  </p>
</div>
<!-- <div class="h-2 w-2 rounded-full bg-primary animate-pulse"></div> -->
<!-- DEBUGGER -->
<!-- <div class="flex flex-col">
  <span class="text-accent"
    >Siguiente caracter: {{ nextChar() }}
    @if (nextChar() === ' ') {
      <span class="text-accent">espacio </span>
    }
  </span>

  <span class="text-accent">Cursor : {{ currentCaracter() }} </span>
  <span class="material-symbols-outlined text-primary text-sm"> bolt </span>
  <span class="text-accent">Errors: {{ errors() }} </span>
</div> -->

<div class="mt-8 flex justify-between items-center border-t border-primary/20 pt-6">
  <div class="flex items-center gap-3">
    <div class="h-2 w-2 rounded-full bg-primary animate-pulse"></div>
    <span class="text-primary text-xs font-bold uppercase tracking-widest">Hazard Sync Active</span>
  </div>
  <div class="flex gap-4">
    <reinitialize-button />
  </div>
</div>
