<section
  class="w-full flex flex-col items-center justify-center py-12 px-6 border-b-4 border-primary/20 bg-cover bg-fixed bg-center relative"
  style="
    background-image:
      linear-gradient(rgba(13, 17, 5, 0.9) 0%, rgba(13, 17, 5, 0.9) 100%),
      url('https://lh3.googleusercontent.com/aida-public/AB6AXuAjoaM81hm5v6mgBCI88mB5lHWfYTA7g0OVzW_zeabGXs-GShl2VSB8-KpuXv0-Zv4Zw4jmw33lXZcr7wNBtdw8Xq-ZSfT4TGXg-KiyXvFb-stwrrscIPJSmlewN_pRoQg3FVgwjin-ejCk1oo089sIub3_DCgVqzDQnNf-4lgwal34wY4ft8TmDQDNaP5pg2McBvX9iUZr671SZHXfjsatSTVzTa3wKDepS2DN5_m2eAiWybaN-rnQ0AlwlbaI-t7_Dg41utmDo4c');
  "
>
  <div class="max-w-4xl w-full text-center space-y-8 py-10">
    <div class="space-y-2">
      <h1 class="text-white text-5xl md:text-8xl font-black italic uppercase tracking-tighter">
        NITRO <span class="text-primary glitch-text">KEYS</span>
      </h1>
      <p
        class="text-secondary text-xs md:text-base font-bold tracking-[0.4em] uppercase opacity-80"
      >
        LOS DEDOS MÁS RÁPIDOS DEL SUBTERRÁNEO ÁCIDO
      </p>
    </div>
    <div class="flex flex-col items-center gap-4">
      <a
        routerLink="/race"
        class="w-full flex items-center justify-center max-w-md h-20 bg-primary text-black text-2xl font-black tracking-[0.3em] hover:bg-secondary transition-all shadow-[0_0_30px_rgba(223,255,0,0.2)] border-b-4 border-black/20 uppercase"
        >jugar ahora</a
      >
      <div class="flex gap-4 text-[10px] font-mono text-primary/60 uppercase tracking-widest">
        <span>CORE: LISTO</span>
        <span>|</span>
        <span>LOC: TOKYO_GRID_09</span>
      </div>
    </div>
  </div>
</section>
