<header
  class="flex items-center justify-between whitespace-nowrap border-b border-primary/20 px-6 py-3 bg-background-dark/95 backdrop-blur-md sticky top-0 z-[110]"
>
  <a routerLink="/home" class="flex items-center gap-3 text-primary">
    <!-- icon -->
    <div class="size-6">
      <svg fill="none" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M42.4379 44C42.4379 44 36.0744 33.9038 41.1692 24C46.8624 12.9336 42.2078 4 42.2078 4L7.01134 4C7.01134 4 11.6577 12.932 5.96912 23.9969C0.876273 33.9029 7.27094 44 7.27094 44L42.4379 44Z"
          fill="currentColor"
        ></path>
      </svg>
    </div>
    <h2 class="text-white text-lg font-black leading-tight tracking-[0.2em] uppercase">
      NITRO<span class="text-primary italic">KEYS</span>
    </h2>
  </a>
  <nav class="hidden lg:flex items-center gap-6">
    <a
      class="text-white/50 hover:text-primary transition-colors text-sm font-bold tracking-widest uppercase"
      href="#"
      >PRACTICAR</a
    >
    <a
      class="text-white/50 hover:text-primary transition-colors text-sm font-bold tracking-widest uppercase"
      >GARAJE</a
    >
    <a
      class="text-white/50 hover:text-primary transition-colors text-sm font-bold tracking-widest uppercase"
      href="#"
      >MERCADO</a
    >
    <a
      class="text-white/50 hover:text-primary transition-colors text-sm font-bold tracking-widest uppercase"
      href="#"
      >CLANES</a
    >
  </nav>
  <div class="flex items-center gap-4">
    <div
      class="px-3 py-1 bg-primary/10 border border-primary/30 text-primary text-sm font-black tracking-widest"
    >
      4.120 NK
    </div>
    <div
      class="size-8 border border-primary/50 bg-cover bg-center"
      style="
        background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuAjHSqF_BgfdL4SxasyIln3uKtVQm2uRlnU3dh4HejRW7_3PTud6XMJohV0Smbqodior0hg0ts0uePGYfDb8MktbtAzhdgiLa3veTOhv_O0kbtxwCSgL1guNSVU3neGvXsSI4wsZonHZYk7as2_MHENkkzmNqaofNWqDJiVQExLq-Hqg6woPKmHGX5UFmOromRml8HvDjnDoGM-L_b87yaM-6Tdp7IYjp4Nw83UJ53V-eXIN-ypUJ_bYtlLtideW1St14pV1jRtHII');
      "
    ></div>
  </div>
</header>
